html {
  box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}

a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}
.conteiner {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
body{

}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
}
.logo{
  margin-bottom: 35px;
}